<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <div class="logo"><a href="/">CHAVALES</a></div>
        <ul>
          <li><a href="{{url_for('main.about')}}">Sobre Nosotros</a></li>
          <li><a href="{{url_for('main.contacto')}}">Contacto</a></li>
          <button><a href="">Registrate</a></button>
          <button><a href="">Inicia Sesión</a></button>
        </ul>
      </div>
    </nav>
    <img
      src="https://s0.smartresize.com/wallpaper/677/134/HD-wallpaper-bear-with-me-bear-close-up-nature-animals-waving.jpg"
    />
    <br />
    <form action="greet" method="post">
      {% for message in get_flashed_messages()%}
      <p>{{message}}</p>
      {% endfor %}
      <br />
      <input type="text" name="name_input" />
      <br />
      <input type="submit" value="OK" id="greet" />
    </form>
    <h1>Lista de Usuarios</h1>

    <!-- Formulario para agregar usuarios -->
    <form action="{{ url_for('main.add_rafael') }}" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required />
      <input type="text" name="apellidos" placeholder="Apellidos" required />
      <input type="text" name="telefono" placeholder="Teléfono" required />
      <button type="submit">Agregar</button>
    </form>

    <ul>
      {% for rafael in rafael_list %}
      <li>
        {{ rafael.nombre }} {{ rafael.apellidos }} - {{ rafael.telefono }}
        <form
          action="{{ url_for('main.delete_rafael', id=rafael.id) }}"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Eliminar</button>
        </form>
      </li>
      {% endfor %}
    </ul>
    <footer class="footer">
      <p>© 2025 Chavales - Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
